.animated-title {
  font-size: 4rem;
  color: var(--white);
  font-family: 'Roboto Mono', monospace;
  position: relative;
}

.animated-title::after {
  content: '.';
  height: 100%;
  font-size: 2.4rem;
  position: absolute;
  top: .2rem;
  color: transparent;
  margin-left: .0rem;
  background: var(--white-accent);
  animation-name: showHide;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  width: .3rem;
}