@import url(../variables.css);

#backToTop {
  position: fixed;
  bottom: 2.2rem;
  right: 4.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}
#backToTop.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}
