/* estilização dos botões do site */

.nav-link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  border: .1rem solid var(--white);
  border-radius: .4rem;
  padding: 1.6rem;
  transition: all .2s;
  display: flex;
  gap: .8rem;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  background: var(--primary);
}