/* estilização do menu de seleção */

#responsive-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.6rem;
  margin-top: 120px;
  flex-direction: column;
  gap: .8rem;
  background: var(--black);
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}