#crew-members {
  min-height: 100vh;
  width: 100vw;
}

#crew-members header h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: .8rem;
}

#crew-members main {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@media (min-width: 768px) {
  #crew-members main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  #crew-members main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}