#learn-with-us {
  padding-bottom: 3.2rem;
}

#learn-with-us main h2 {
  margin-bottom: 1.6rem;
}

#learn-with-us main > h2:nth-child(5) {
  animation-name: togglePrimaryAndBasic;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#learn-with-us main a + h2 {
  margin-top: 3.2rem;
}

#learn-with-us main section {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@media (min-width: 769px) {
  #learn-with-us main section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 961px) {
  #learn-with-us main section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}