#projects {
  padding: 4.8rem 0;
}

#projects main section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@media (min-width: 769px) {
  #projects main section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}