@import url(../components/wrapper.css);
@import url(../components/nav-link.css);
@import url(../animations/showHide.css);
@import url(../components/back-to-top.css);

#homepage {
  width: 100vw;
  min-height: 100vh;
}

#hello {
  background: url(../../assets/thumbnail.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

#hello header {
  padding: 1.6rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hello header h1 {
  font-size: 4rem;
  color: var(--white);
  font-family: 'Roboto Mono', monospace;
}

#hello header nav {
  display: flex;
  height: 100%;
  gap: .8rem;
}

#hello main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

#hello main h1 {
  font-size: 4.8rem;
  line-height: 6.4rem;
  font-weight: 700;
  width: 60%;
}

#hello main p {
  color: var(--white-accent);
  font-size: 1.6rem;
  line-height: 3.2rem;
  width: 50%;
}

#hello footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hello footer div {
  width: 4.8rem;
  height: 2.4rem;
  position: relative;
}

#hello footer div span {
  position: relative;
  animation-name: showHide;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 100%;
  background-color: var(--white-accent);
  border: .2rem solid var(--white-accent);
  position: absolute;
}

#hello footer div span:first-child {
  transform: rotate(135deg);
  top: -83%;
  right: 62.5%;
}

#hello footer div span:last-child {
  transform: rotate(45deg);
  top: -83%;
  right: 28.5%;
}

@media (max-width: 960px) {
  #hello header {
    gap: 1.6rem;
    flex-direction: column;
  }

  #hello main h1, #hello main p {
    text-align: center;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  #hello header {
    gap: 1.6rem;
    flex-direction: column;
  }

  #hello header nav {
    display: none;
  }

  #hello main h1, #hello main p {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}