/* variáveis do site */

:root {
  --black: #000;
  --gray: #121212;
  --gray-accent: #2a2a2a;
  --white: #fff;
  --white-accent: #f5f5f7;
  --primary: #0080ff;
  --accent: #004080;
  --gradient: linear-gradient(135deg, var(--primary), var(--accent));
}