/* Animação dos cards da equipe */

@keyframes goTopAndBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0);
  }
}